<section class="   hight  d-flex align-items-center justify-content-center">

    <div class=" container">
        <h1 class="coler text-center">conatct section</h1>

        <div class="divider-custom coler">
            <div class="divider-custom-line bg"></div>
            <div class="divider-custom-icon coler">★</div>
            <div class="divider-custom-line bg"></div>
        </div>

        <form class="w-50 p-3 mx-auto mt-5 ng-untouched ng-pristine ng-valid">

                
                <input  id="userName"  type="text" placeholder="userName" name="userName"
                class="form-control  border-0 border-bottom p-4 position-relative ng-untouched ng-pristine ng-valid">
                
               
                
                <input
                 id="userAge" type="text" placeholder="userAge" name="userName"
                class="form-control  border-0 border-bottom p-4 position-relative ng-untouched ng-pristine ng-valid">
                
              
                <input
                 id="userEmail" type="text" placeholder="userEmail" name="userName"
                class="form-control  border-0 border-bottom p-4 position-relative ng-untouched ng-pristine ng-valid">
                
             
            
            <input  id="userPassword" type="text" placeholder="userPassword"
                name="userName"
                class="form-control  border-0 border-bottom p-4 position-relative ng-untouched ng-pristine ng-valid">
                
                
                <button
                 class="btn mt-4 text-white " style="background-color: #1abc9c;"> send Message
            </button>
        
        </form>

    </div>

</section>