<section class="text-center bg hight  d-flex align-items-center justify-content-center ">


    <div class="container">

    <h1 class="text-white">about component</h1>

     <div class="divider-custom">
        <div class="divider-custom-line bg-white"></div>
        <div class="divider-custom-icon">★</div>
        <div class="divider-custom-line bg-white" ></div>
    </div>




    <div class="text row p-3">

        <div class="left text-white col-md-6 col-12 ">
            <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
        <div class="right text-white col-md-6 col-12  ">
<p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
    </div>

    </div>

   
</section>