<section class="text-center bg hight d-flex align-items-center justify-content-center">


    <div class="">
 <img class="w" src="/avataaars.svg" alt="">
    <h1 class="text-white">start Framework</h1>

     <div class="divider-custom">
        <div class="divider-custom-line bg-white"></div>
        <div class="divider-custom-icon">★</div>
        <div class="divider-custom-line bg-white"></div>
    </div>

    <p class="text-white">Graphic Artist - Web Designer - Illustrator</p>
    </div>

   
</section>