<section class="bg text-white  ">
    <div class="container py-5 ">
        <div class="row d-flex  align-items-center">

            <div class="col-12 col-sm-4 py-sm-4 text-center ">

                <p class="fs-2 fa-bold fw-bold">LOCATION</p>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>


            <div class="col-12 col-sm-4 py-sm-4 text-center ">


                <p class="fs-2 fw-bold">AROUND THE WEB</p>
                <div  class="icons d-block">
                    <i 
                        class="fa-brands fa-facebook mx-1 icon"></i><i 
                        class="fa-brands fa-twitter mx-1 icon"></i><i 
                        class="fa-brands fa-linkedin-in mx-1 icon"></i><i 
                        class="fa-solid fa-globe mx-1 icon"></i></div>
            </div>


            <div class="col-12 col-sm-4 py-sm-4  text-center ">

                <h2>ABOUT FREELANCERS</h2>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>



        </div>


    </div>


    <div class="copyrigh text-center p-4">
        Copyright © Your Website 2021
    </div>

</section>